#############################################
# Environment & Secrets
#############################################

.env*
!.env.example

secrets/

#############################################
# Runtime Data (Ignore)
#############################################

moodledata/
database/
redis/
state/
tmp/
private_html/
/moodle/config.php

#############################################
# Backups & Logs
#############################################

backups/
logs/

*.log
*.sql
*.sql.gz
*.dump
*.tar
*.tar.gz
*.tgz
*.zip
*.mbz
*.bak
*.pre-*

#############################################
# Dependencies
#############################################

node_modules/
__pycache__/
*.pyc

#############################################
# OS / IDE
#############################################

.DS_Store
.idea/
.vscode/

#############################################
# Ignore Git internals inside Docker volumes
#############################################

moodle/.git/
